<%- include('./partials/head.ejs') %>
<div>
    <a href="/new/<%= muscle %>">Add New Exercise</a>
</div>
<h1><%= muscle %> Home</h1>

<% for (let exercise of allExercises) { %>

<p>
    <a href="/<%= exercise.id %>"> <%= exercise.name %> </a>
    <%= exercise.targets %>
    <%= exercise.images %>
</p>



<% } %>









<%- include('./partials/footer.ejs') %>