<%- include('./partials/head.ejs') %>
<a href="/">Back to Homepage</a>
<div>
    <a href="/new/<%= muscle %>">Add New Exercise</a>
</div>
<h1><%= muscle %> Home</h1>

<% for (let exercise of allExercises) { %>

<p>
    <a href="/<%= exercise.id %>"> <%= exercise.name %> </a>
    <%= exercise.targets %>
    <%= exercise.images %>
    <br>
    <a href="/edit/<%= exercise.id %>">Edit Exercise</a>

    <form action="/<%= exercise.id %>?_method=DELETE" method="post">
        <input type="submit" value="Delete">
    </form>
</p>

<% } %>









<%- include('./partials/footer.ejs') %>