<%- include('./partials/head.ejs') %>

<h1><%= muscle %> Home</h1>

<% for (let exercise of allExercises) { %>

<p>
    <a href="/<%= baseUrl %>/<%= exercise.id %>"> <%= exercise.name %> </a>
    <%= exercise.targets %>
    <%= exercise.images %>
</p>


<% } %>









<%- include('./partials/footer.ejs') %>