<%- include('./partials/head.ejs') %>

<h1 class="heading account"><%= muscle %> Home</h1>
<div class="new">
    <a class="add" href="/new/<%= muscle %>">Add New Exercise</a>
</div>
<% for (let exercise of allExercises) { %>

<p>
    <a href="/<%= exercise.id %>"> <%= exercise.name %> </a>
    <%= exercise.targets %>
    <img class="display-images" src="<%= exercise.images %>" alt="image of exercise">
    <br>
    <a href="/edit/<%= exercise.id %>">Edit Exercise</a>

    <form action="/<%= exercise.id %>?_method=DELETE" method="post">
        <input type="submit" value="Delete">
    </form>
</p>

<% } %>









<%- include('./partials/footer.ejs') %>