<%- include('./partials/head.ejs') %>
<a href="/">Back to Homepage</a>

<h1><%= exercise.name %></h1>

<p>
    <%= exercise.targets %>
    <%= exercise.form %>
    <%= exercise.images %>

</p>







<%- include('./partials/footer.ejs') %>