<%- include('./partials/head.ejs') %>


<h1><%= exercise.name %></h1>

<p class="log">
    <%= exercise.targets %>
    <%= exercise.form %>
    <img class="display-images" src="<%= exercise.images %>" alt="image of exercise">

</p>







<%- include('./partials/footer.ejs') %>