<%- include('./partials/head.ejs') %>


<h1><%= exercise.name %></h1>

<p>
    <%= exercise.targets %>
    <%= exercise.form %>
    <%= exercise.images %>

</p>







<%- include('./partials/footer.ejs') %>